.hero {
  position: relative;
  background-image: url('/src/styles/backg.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Georgia', serif;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(10, 10, 10, 0.6); /* لایه تار */
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding: 2rem;
}

.hero h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #f7c873;
}

.hero p {
  font-size: 1.1rem;
  color: #ddd;
}

.hero-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.hero-buttons button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: 2px solid #f7c873;
  background: transparent;
  color: #f7c873;
  cursor: pointer;
  transition: all 0.3s;
}

.hero-buttons button:hover {
  background: #f7c873;
  color: black;
}
