/* Navbar.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0; /* کاهش padding برای نازک‌تر شدن نوار */
  background-color: rgba(50, 50, 50, 0.8); /* روشن‌تر از قبل */
  z-index: 1000;
  backdrop-filter: blur(5px);
  transition: background-color 0.3s ease;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-left,
.navbar-center,
.navbar-right {
  flex: 1;
  display: flex;
  align-items: center;
}

.navbar-left {
  justify-content: flex-start;
}

.navbar-center {
  justify-content: center;
}

.navbar-right {
  justify-content: flex-end;
  gap: 40px; /* فاصله بین لینک‌ها */
}

/* استایل تصویر لوگو */
.navbar-logo-img {
  height: 50px; /* ارتفاع مناسب برای لوگو */
  width: auto; /* حفظ نسبت تصویر */
  transition: transform 0.3s ease;
  margin-bottom: 0%;
  padding-bottom: 0%;
}

.navbar-logo-img:hover {
  transform: scale(1.05);
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  position: relative;
  padding: 5px 0;
}

.navbar-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f7c873;
  transition: width 0.3s;
}

.navbar-link:hover::after {
  width: 100%;
}

.navbar-btn {
  padding: 8px 20px; /* اندازه کوچک‌تر برای دکمه */
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 0.9rem; /* فونت کوچک‌تر */
}

.btn-outline {
  background: transparent;
  border: 2px solid #f7c873;
  color: #f7c873;
}

.btn-outline:hover {
  background: #f7c873;
  color: black;
}
